.sub-title {
  display: inline-block;
  position: relative;
  padding: 0 30px;
}
.sub-title::before,
.sub-title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background: #ed2124;
}
.sub-title::after {
  left: auto;
  right: 0;
}
