// SideBar Login
.sidebar-login {
	padding: 30px;
}
.b-sidebar {
	background-color: #fff !important;
}
.login-button {
	display: block;
	color: #ffffff;
	background-color: #ff0e00;
	padding: 15px;
	border: 0;
	width: 100%;
	margin: 25px 0px;
	border-radius: 0;
	&:hover {
		background-color: #e73d33;
	}
	&:focus {
		background-color: #e73d33;
	}
	&.dark {
		background-color: #222;
	}
}

.custom-select {
	height: 3.2rem;
}
.product-silder {
	button:not(:disabled),
	[type="button"]:not(:disabled),
	[type="reset"]:not(:disabled),
	[type="submit"]:not(:disabled) {
		display: none !important;
	}
}
