.countDown-wrapper {
  width: 80%;
  margin: auto;
  .v-card-text {
    padding: 5px !important;
    margin: 0 !important;
  }
  .numberHolder {
    background: #dbdbdb;
    margin: 10px ;
    color: #000;
    border-radius: 5px;

  }
}
