@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap");

body {
  font-family: $default-font-family, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #676565;
  font-style: normal;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
  transition: all 0.5s ease-in-out !important;
  cursor: pointer !important;
  // display: inline-block !important;
}
span {
  display: inline-block !important;
}
.form-control {
  padding: 1.5rem 0.75rem;
  border-radius: 0;
}
label , .table.b-table.b-table-stacked-lg > tbody > tr , .table thead th {
  text-transform: capitalize !important;
}
.error {
  color: red;
}
::placeholder {
  text-transform: capitalize;
}
.select-currency{
  width: auto;
  .custom-select{
    background: transparent;
    color: #fff;
    border: none;
    padding: 0;
    &:focus{
      box-shadow: 0 0 0 0;
    }
    option{
      color: #000;
      font-size: 16px;
      &:hover{
        color: #2B96CC;
      }
    }
  }
}
#modal-1{
  background: rgba(23,26,33,.95);
  .modal-dialog{
    min-width: 700px;
    transform: translate(0%,50%);
  }
  #modal-1___BV_modal_content_{
    background: transparent;
    border: none;
    #modal-1___BV_modal_header_ , #modal-1___BV_modal_footer_{
      display: none;
    }
    #modal-1___BV_modal_body_{
      background: transparent;
    }
  }
  .form-control{
    background: transparent;
    border: none;
    border-bottom: 3px solid rgba(255,255,255,.1);
    font-size: 36px;
    &:focus {
      box-shadow: 0 0 0 0;
    }
  }
  .input-group-append{
    background: transparent;
  }
  .input-group-text{
    background: transparent;
    border: none;
    border-bottom: 3px solid rgba(255,255,255,.1);
    border-radius: 0;
    color: #ed2124;
    font-size: 35px;
  }
}
.select-country{
  .title{
    color: #fff;
  }
  img{
    width: 25px;
    margin: 0px 5px;
  }
}
/* Start Container  */
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 90%;
  }
}


// arabic style
html:lang(ar) {
  .b-sidebar.b-sidebar-right > .b-sidebar-header .close {
    margin-left: auto;
    margin-right: 0;
  }
  .b-sidebar > .b-sidebar-body {
    text-align: right;
  }
}