body {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #676565;
  font-style: normal;
}

.img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}
ul {
  list-style: none;
  
}
a {
 text-decoration: none;
}