 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .v-center {
    align-items: center;
    justify-content: space-around;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  /* header */
  
  .headerCategories .item-left {
    // flex:0 0 17%;
    // width: 20%;
    width: fit-content;
    max-width: 45%;
  }
  .headerCategories .logo a {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
  }
  .headerCategories .item-center {
    // flex:0 0 66%;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .headerCategories .item-right {
    // flex:0 0 17%;
    display: flex;
    justify-content: flex-end;
    // width: 20%;
    width: fit-content;
    max-width: 45%;
    align-items: center;
  }
  .headerCategories .item-right a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    // margin-left: 10px;
    transition: color 0.3s ease;
  }
  .iconHolder {
    margin: 0 10px;
    @media (max-width: 767px) {
      margin: 0 4px;
    }
  }
  .ar {
    .iconHolder {
      @media (max-width: 1200px) {
        margin: 0 5px;
      }
    }
  }
  .headerCategories .menuCategories > ul > li {
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
  }
  .sideHomeCategories .menuCategories > ul > li {
    margin-left: 0 !important;
    display: block !important;
    border: 2px solid #bfcbe3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 5px;
  }
  
  .sideHomeCategories {
    height: 72vh;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  
  
  .headerCategories .menuCategories > ul > li > a {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    position: relative;
    text-transform: capitalize;
    transition: color 0.3s ease;
  }
  .headerCategories .menuCategories > ul > li .sub-menu {
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    transition: all 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
  }
  @media (min-width: 992px) {
    .headerCategories .menuCategories > ul > li.menu-item-has-children:hover .sub-menu {
      margin-top: 0;
      visibility: visible;
      opacity: 1;
  
      border: 1px solid $main-color;
      border-top: 5px solid $main-color;
      cursor: default;
    }
    .headerCategories .menuCategories > ul > li.menu-item-has-children {
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }
    .headerCategories .menuCategories > ul > li.menu-item-has-children a {
      color: #000;
    }
    .headerCategories .menuCategories > ul > li.menu-item-has-children .mega-menu .list-item a {
      color: #000 !important;
      &:hover {
        color: $main-color !important;
      }
    }
    .sideHomeCategories.headerCategories .menuCategories > ul > li.menu-item-has-children:hover {
      border: 2px solid $main-color !important;
      i {
        transition: all 0.3s ease-in-out;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: $main-color;
        font-weight: bold;
        font-size: 30px;
      }
      a {
        color: $main-color !important;
      }
    }
  }

  .headerCategories .menuCategories > ul > li .sub-menu > ul > li {
    line-height: 1;
  }
  .headerCategories .menuCategories > ul > li .sub-menu > ul > li > a {
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: capitalize;
  }
  .headerCategories .menuCategories > ul > li .single-column-menu {
    min-width: 280px;
    max-width: 350px;
  }
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu > .list-item > ul > li {
    line-height: 1;
    display: block;
  }
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
  }
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu-column-4 {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
    justify-content: space-between;
  }
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 25%;
    padding: 0 15px;
  }
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
    font-size: 20px;
    color: #ea4636;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
  }
  .headerCategories
    .menuCategories
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center
    .title {
    text-align: center;
  }
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 0px;
    height: 100%;
    object-fit: cover;
  }
  .headerCategories .menuCategories > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
  .headerCategories .menuCategories > ul > li .sub-menu > ul > li > a:hover,
  .headerCategories .item-right a:hover,
  .headerCategories .menuCategories > ul > li:hover > a {
    // color: #ea4636;
    color: $main-color;
  }
  /* banner section */
  .banner-section {
    background-image: url("@/assets/images/logo.png");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: block;
  }
  .mobile-menu-head,
  .mobile-menu-trigger {
    display: none;
  }
  
  /*responsive*/
  @media (max-width: 991px) {
    .headerCategories .item-center {
      order: 3;
      flex: 0 0 100%;
    }
    .headerCategories .item-left,
    .headerCategories .item-right {
      flex: 0 0 auto;
      max-width: 34% !important;
    }
    .v-center {
      justify-content: space-between;
      direction: ltr !important;
      text-align: left !important;
    }
    .headerCategories .mobile-menu-trigger {
      display: flex;
      height: 30px;
      width: 30px;
      margin-left: 15px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }
    .headerCategories .mobile-menu-trigger span {
      display: block;
      height: 2px;
      background-color: #fff;
      width: 24px;
      position: relative;
    }
    .headerCategories .mobile-menu-trigger span:before,
    .headerCategories .mobile-menu-trigger span:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    .headerCategories .mobile-menu-trigger span:before {
      top: -6px;
    }
    .headerCategories .mobile-menu-trigger span:after {
      top: 6px;
    }
    .headerCategories .item-right {
      align-items: center;
    }
  
    .headerCategories .menuCategories {
    //   position: fixed;
    //   width: 320px;
    //   background-color: $header-back;
    //   left: 0;
    //   top: 0;
    //   height: 100%;
    //   overflow: hidden;
    //   transform: translate(-100%);
    //   transition: all 0.5s ease;
    //   z-index: 1099;

    
        position: relative;
        width: 320px;
        left: 320px;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }
    .headerCategories .menuCategories.active {
      transform: translate(0%);
    }
    .headerCategories .menuCategories > ul > li {
      // line-height: 1;
      margin: 0;
      display: block;
    }
    .headerCategories .menuCategories > ul > li > a {
      line-height: 50px;
      height: 50px;
      padding: 0 50px 0 15px;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .headerCategories .menuCategories > ul > li > a i {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 50px;
      transform: rotate(-90deg);
    }
    .headerCategories .menuCategories .mobile-menu-head {
      display: flex;
      height: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 501;
      position: sticky;
      background-color: $header-back;
      top: 0;
    }
    .headerCategories .menuCategories .mobile-menu-head .go-back {
      height: 50px;
      width: 50px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      line-height: 50px;
      text-align: center;
      color: #000000;
      font-size: 16px;
      display: none;
    }
    .headerCategories .menuCategories .mobile-menu-head.active .go-back {
      display: block;
    }
    .headerCategories .menuCategories .mobile-menu-head .current-menu-title {
      font-size: 15px;
      font-weight: 500;
      color: #fff;
    }
    .headerCategories .menuCategories .mobile-menu-head .mobile-menu-close {
      height: 50px;
      width: 50px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      line-height: 50px;
      text-align: center;
      color: #fff;
      font-size: 25px;
    }
    .headerCategories .menuCategories .menu-main {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      color: #000;
    }
    .headerCategories .menuCategories > ul > li .sub-menu.mega-menu,
    .headerCategories .menuCategories > ul > li .sub-menu {
      visibility: visible;
      opacity: 1;
      position: relative;
      box-shadow: none;
      margin: 0;
      padding: 15px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 65px;
      max-width: none;
      min-width: auto;
      display: none;
      transform: translateX(0%);
      overflow-y: auto;
    }
    .headerCategories .menuCategories > ul > li .sub-menu.active {
      display: block;
    }
    @keyframes slideLeft {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0%);
      }
    }
    @keyframes slideRight {
      0% {
        opacity: 1;
        transform: translateX(0%);
      }
      100% {
        opacity: 0;
        transform: translateX(100%);
      }
    }
    .headerCategories .menuCategories > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
      margin-top: 0;
    }
    .headerCategories
      .menuCategories
      > ul
      > li
      .sub-menu.mega-menu-column-4
      > .list-item.text-center
      .title {
      margin-bottom: 20px;
    }
    .headerCategories
      .menuCategories
      > ul
      > li
      .sub-menu.mega-menu-column-4
      > .list-item.text-center:last-child
      .title {
      margin-bottom: 0px;
    }
    .headerCategories .menuCategories > ul > li .sub-menu.mega-menu-column-4 > .list-item {
      flex: 0 0 100%;
      padding: 0px;
    }
    .headerCategories .menuCategories > ul > li .sub-menu > ul > li > a,
    .headerCategories .menuCategories > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
      display: block;
    }
    .headerCategories .menuCategories > ul > li .sub-menu.mega-menu > .list-item > ul {
      margin-bottom: 15px;
    }
    .menu-overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1098;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
    }
    .menu-overlay.active {
      visibility: visible;
      opacity: 1;
    }
  }
  
  @media (max-width: 992px) {
    .headerCategories .item-left {
      // flex:0 0 17%;
      width: 45%;
      max-width: 45%;
    }
  }
  
  .menu-item-has-children {
    cursor: pointer;
  }
  