.swiper {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 20px;
}

.swiper-slide {
  // text-align: center;
  // font-size: 18px;
  background: #fff;
  height: 100%;
  margin: 10px 0;
  img {
    width: 100%;
    height: 100%;
  }
  .v-row .actions {
    flex-wrap: nowrap !important;
  }

  // /* Center slide text vertically */
  // display: flex !important;
  // justify-content: center !important;
  // align-items: center !important;
}
.homeMainSlider {
  .v-responsive {
    // min-height: 75vh;
    min-height: 37rem;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination-bullet {
  /* Layout Properties */

  width: 12px !important;
  height: 12px !important;
  /* UI Properties */
  background: transparent !important;
  opacity: 1 !important;
  border: 2px solid #fff !important;
}
.swiper-pagination-bullet-active {
  width: 40px !important;
  height: 12px !important;
  background: #ddcdae 0% 0% no-repeat padding-box !important;
  border-radius: 100px !important;
  opacity: 1;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  -ms-border-radius: 100px !important;
  -o-border-radius: 100px !important;
  border: none !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin: 10px 0;
}

.firstSliderHolder{
  .swiper-slide{
    background: transparent;
  }
}