.bg-gray {
  background-color: #cacaca !important;
  color: #000 !important;
  font-weight: bold;
}
.br-5 {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.br-10 {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.text-gray {
  color: #e2e2e2;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &:hover {
    color: #000;
  }
}

nav {
  .icon {
    svg {
      background: $top-header-color;
      padding: 10px 13px;
    }
  }
}

.bottom-nav-holder {
  #dropdown-1{

    .dropdown-menu {
      height: 600px !important;
      overflow: auto !important;
      top: 100%;
      @media (min-width: 992px) {
        width: 73rem;
        top: 9rem !important;
        left: -2.5rem !important;
      }
      @media (min-width: 767px) and (max-width: 991.98px) {
        width: 43rem !important;
        left: -50% !important;
        top: 9rem !important;
      }
      @media (min-width: 576px) and (max-width:766.98px) {
        top: 9rem !important;
        left: -1.5rem !important;
        width: 35rem;
      }
      @media (max-width: 575.98px) {
        top: 12.5rem !important;
        left: -2.5rem !important;
        width: 18rem;
      }

      @media(min-width:1499.98px) {
        width: 73rem;
        top: 0.5rem !important;
        left: -2.5rem !important;
      }
      @media(min-width:1500px) and (max-width:1530px) {
        width: 73rem;
        top: 9rem !important;
        left: -2.5rem !important;
      }
    }
  }
  #dropdown-1 , #dropdown-2 {
    width: 250px;
    padding: 5px !important;
    @media (max-width: 767px) {
      width: 200px;
    }
  }

  .myDropDown-item{
    width: 13rem;
   
   a{

     @media(max-width:767px){
       display: flex !important;
       align-items: center;
     }
   }
  
    
    
  }
}

@media (max-width: 500px) {
  .profile-layout .icon {
    top: 10px !important;
    right: 2rem !important;
  }
}

.variants {
  .table {
    td {
      vertical-align: middle;
    }
  }
}

.table th,
.table td {
  vertical-align: middle !important;
}
