.main-color {
  color: $main-color !important;
}

.side-number {
  background-color: $main-color;
  color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.border-main {
  border: 1px solid $main-color;
  background: transparent;
  color: $main-color;
  &:hover {
    background-color: $main-color;
    color: #fff !important;
    border-color: $main-color;
  }
}
.main-color.bg-transparent {
  &:hover {
    background-color: $main-color !important;
    color: #fff !important !important;
  }
}
.standing-order-sign {
  width: 22px !important;
  height: 22px !important;
}

.myproject--checkbox {
  height: 20px;
  width: 20px;
  accent-color: $main-color;
  display: inline-block;
  cursor: pointer;
}

.rfq-page {
  table {
    tr {
      td {
        padding: 25px 0;
      }
    }
  }
}

.bottom-nav-holder {
  // @media(max-width:992px){
  //   z-index: -1;
  //   position:sticky
  // }
  .other-catrgories {
    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      li {
        margin: 0 5px;
        font-weight: bold;
        font-size: 18px;
        text-transform: capitalize !important;
        position: relative;
        transition: all 0.3s ease-in-out;
        @media (max-width: 767px) {
          font-size: 15px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 0;
          right: 0;
          height: 2px;
          background-color: $main-color;
          transition: width 1s cubic-bezier(0.22, 1, 0.36, 1) 100ms;
        }
        &:hover::after {
          width: 100%;
        }
        a {
          color: #000;
        }
      }
    }
  }
}
.iconn.bottom-nav-holder {
  z-index: 3;
}

// .address-book {
//   .add-address {
//     margin: 0 !important;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .slider-data{
//     margin-bottom: 25px;
//   }
// }

.forget-password {
  color: $main-color !important;
}

.fixedSideToggle {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  padding: 0.5rem 1rem;
}

.w-25 {
  @media (max-width: 767px) {
    width: 75% !important;
  }
}
.suppliersList {
  height: 600px !important;
  overflow: auto;
}