.main-color {
  color: $main-color !important;
}

.side-number {
  background-color: $main-color;
  color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.border-main {
  border: 1px solid $main-color !important;
  background: transparent;
  color: $main-color;
  &:hover {
    background-color: $main-color;
    color: #fff !important;
    border-color: $main-color;
  }
}
.border-main-bold {
  box-shadow: 0 0 0 2px $main-color;
  .floatingAdsTitles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background: $main-color;
    color: #fff;
    z-index: 3;
    border-radius: 0 0 50px 50px;
    h6 {
      color: #fff !important;
      margin: 0;
      padding: 5px 2px;
    }
  }
}
.border-gray-bold {
  box-shadow: 0 0 0 2px $gray;
  .floatingAdsTitles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background: $gray;
    color: #fff;
    z-index: 3;
    border-radius: 0 0 50px 50px;
    h6 {
      color: #fff !important;
      margin: 0;
      padding: 5px 2px;
    }
  }
}
.border-green-bold {
  box-shadow: 0 0 0 2px green;
  .floatingAdsTitles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background: $gray;
    color: #fff;
    z-index: 3;
    border-radius: 0 0 50px 50px;
    h6 {
      color: #fff !important;
      margin: 0;
      padding: 5px 2px;
    }
  }
}
.main-color.bg-transparent {
  &:hover {
    background-color: $main-color !important;
    color: #fff !important;
  }
}
.standing-order-sign {
  width: 22px !important;
  height: 22px !important;
}

button.border-main,
a.border-main {
  font-weight: bold !important;
  text-transform: uppercase;
}

.myproject--checkbox {
  height: 20px;
  width: 20px;
  accent-color: $main-color;
  display: inline-block;
  cursor: pointer;
}

.rfq-page {
  table {
    tr {
      td {
        padding: 25px 0;
      }
    }
  }
}

.bottom-nav-holder {
  // @media(max-width:992px){
  //   z-index: -1;
  //   position:sticky
  // }
  .other-catrgories {
    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      li {
        margin: 0 5px;
        font-weight: bold;
        font-size: 18px;
        text-transform: capitalize !important;
        position: relative;
        transition: all 0.3s ease-in-out;
        @media (max-width: 767px) {
          font-size: 15px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 0;
          right: 0;
          height: 2px;
          background-color: $main-color;
          transition: width 1s cubic-bezier(0.22, 1, 0.36, 1) 100ms;
        }
        &:hover::after {
          width: 100%;
        }
        a {
          color: #000;
        }
      }
    }
  }
}
.iconn.bottom-nav-holder {
  z-index: 3;
}

// .address-book {
//   .add-address {
//     margin: 0 !important;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .slider-data{
//     margin-bottom: 25px;
//   }
// }

.forget-password {
  color: $main-color !important;
}

.fixedSideToggle {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  padding: 0.5rem 1rem;
}

.w-25 {
  @media (max-width: 767px) {
    width: 75% !important;
  }
}
.suppliersList {
  height: 600px !important;
  overflow: auto;
}

.vsc-popup-button {
  background-color: var(--whatsapp) !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

.search-component {
  .bottom-nav-holder .dropdown-menu {
    top: 21rem !important;
    left: -41px !important;
  }
  .btn-group > .btn:focus,
  .btn-group > .btn:active {
    background: transparent !important;
  }

  .dropDownHolder {
    .dropdown-item {
      display: flex !important;
      justify-content: flex-start !important;
      align-items: center !important;
    }
  }
}

.bottom-nav-holder {
  .dropdown-item:hover {
    background: none !important;
  }
}
.search-component.ar {
  .bottom-nav-holder .dropdown-menu {
    right: 0px !important;
    left: auto !important;
  }
}

.tabbable .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
}

.about-page-about {
  .single-supplier .supplier-data .thumb a img,
  .single-supplier .supplier-data .thumb img {
    width: 222px !important;
    height: 222px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
  }
}
