.new-home-slider {
  .slick-dots li button:before {
    width: 20px;
    height: 20px;
    background-color: $gray;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  .slick-dots li.slick-active button:before , .new-home-slider .slick-dots li button:before {
    color: $main-color !important;
    background-color: $main-color !important;
  }
}
