.b2cLayout{
    .sidenavopen{
        background-color: #F0F0F0;
        color: #000;
    }
    .profile-menu{
        color: inherit;
        background-color: inherit;
    }
    .profile-menu ul li{
        border: none;
        color: #000 !important;
        a{
            color: inherit;
        }
    }
    .profile-menu ul li:first-of-type{
        border: none;
    }
}